<form class="example-form" [formGroup]="fruitFormGroup">
  <mat-form-field>
    <mat-label>name</mat-label>
    <input
      matInput
      formControlName="name">
    <mat-error *ngIf="fruitFormGroup.get('name')?.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>description</mat-label>
    <input
      matInput
      formControlName="description">
    <mat-error *ngIf="fruitFormGroup.get('description')?.hasError('required')">
      Description is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    [ngStyle]="{marginTop: '10px'}"
    (click)="sendFruit()">Submit</button>
</form>
